In [4]:
!pip install boto3 botocore

Requirement already satisfied: boto3 in c:\users\hp\anaconda3\lib\site-packages (1.24.89)
Requirement already satisfied: botocore in c:\users\hp\anaconda3\lib\site-packages (1.27.89)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in c:\users\hp\anaconda3\lib\site-packages (from boto3) (0.6.0)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in c:\users\hp\anaconda3\lib\site-packages (from boto3) (1.0.1)
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in c:\users\hp\anaconda3\lib\site-packages (from botocore) (2.8.2)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in c:\users\hp\anaconda3\lib\site-packages (from botocore) (1.26.7)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil<3.0.0,>=2.1->botocore) (1.16.0)

In [5]:
import boto3
from botocore import UNSIGNED
from botocore.client import Config

In [11]:
files = ["orders","reviews","shipment_deliveries"]
for file in files:
    s3 = boto3.client('s3', config=Config(signature_version=UNSIGNED))
    bucket_name = "d2b-internal-assessment-bucket"
    response = s3.list_objects(Bucket=bucket_name, Prefix="orders_data")
    s3.download_file(bucket_name, f"orders_data/{file}.csv", f"{file}.csv")
    print(f"{file} successfully downloaded")

orders successfully downloaded
reviews successfully downloaded
shipment_deliveries successfully downloaded

In [10]:
import pandas as pd

In [12]:
data = pd.read_csv('orders.csv')
data

,order_id,customer_id,order_date,product_id,unit_price,quantity,total_price
0,1,5,2022-07-13,24,139,10,1390
1,2,14,2021-04-06,2,273,4,1092
2,3,17,2022-07-29,20,253,9,2277
3,4,14,2022-08-27,8,334,1,334
4,5,25,2021-12-15,6,334,3,1002
...,...,...,...,...,...,...,...
9995,9996,25,2022-07-30,12,863,4,3452
9996,9997,8,2022-01-02,11,461,4,1844
9997,9998,17,2022-07-23,12,114,9,1026
9998,9999,25,2021-09-24,5,954,4,3816
9999,10000,21,2021-10-09,4,300,4,1200